body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 

main {
    background: wheat;
}
#myheader {

    background: burlywood;
    padding: 10px 10px;

}

.myfooter {
    background: rgb(131, 66, 20);
}

/*Header Style*/

.logo {
    border-radius: 20% ;
    width: 80px;
    margin-left: 0px;
    
}

.avatar {
    border-radius: 50%;
    width: 80px;
    vertical-align: middle;
    
}


header > * {
    display: inline-block;
    
}

.leftdiv {
    display: inline-block;
    float: right;
    
}

.leftdiv ul {
    display: inline-block;
}

.leftdiv ul li {
    
    list-style: none;
    display: inline-block;

}

.leftdiv ul li a {
    display: inline-block;
    padding: 10px 15px;
    color: rgb(77, 22, 22);
    text-decoration: none;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) .5s;
    
}

.leftdiv ul li a:hover{
    background: wheat;
    border-radius: 30px;
    color: brown;
    font-size: x-large;
}

/* info Main Style*/

main > * {
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    margin: 3%;
}


.myitem {
    
    padding: 2%;
    border:  burlywood 2px solid;
    border-radius: 10%;
    color: rgb(77, 22, 22);
    text-transform: capitalize;
    width: 30%;
    margin-left: 33%;

    
}

.myitem img {
    margin-left: 15%;
    width: 70%;
    height: 90%;   
}

#buyitem {
    border: none;
    color: rgb(77, 22, 22);
    background: burlywood;
    float: right;
    padding: 2%;
    margin-right: 10%;
    cursor: pointer;

}
#buyitem:hover{
    background: white;
}


.minor > * {

    display: inline-block;
    width: 25%;
    margin-left: 6%;
    border:  burlywood 2px solid;
    border-radius: 10%;
    color: rgb(77, 22, 22);
    margin-bottom: 5%;
    
}

.minor h2,h4{
    padding: 3%;
}

.minor img {
    margin-top: 3%;
    margin-left: 15%; 
    width: 70%;
    height: 90%;  
}

.minor a {

    text-decoration: none;
    color: rgb(77, 22, 22);
    background: burlywood;
    float: right;
    padding: 2%;
    margin-right: 10%;
    margin-bottom: 5%;

}





/*Footer Style*/

.myfooter > * {
    display: inline-block;
    vertical-align: middle;
    
}

.myfooter div p {
    margin-left: 10%;
    color: rgb(77, 22, 22);
}
.bmenu ul li {
    list-style: none;
}

.bmenu ul li a{
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(77, 22, 22);
    text-decoration: none;
    font-size: x-large;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) .15s;

}

.bmenu ul li a:hover{

    color: wheat;    
}

 /* ? question */
.map {
    float:right ;
    /*margin-left: 32%;*/
    
}  


/*Home main style*/

.topdiv{

    color: rgb(77, 22, 22);
    font-style: italic;
    text-transform: capitalize;
    border-bottom: burlywood 2px solid;
    border-bottom-width: medium;
}

.bottomdiv{

    color: rgb(77, 22, 22);
    text-transform: capitalize;
    font-style: italic;
    /*border-bottom: burlywood 2px solid;*/

}


/* about us main style */
.btext{

    color: rgb(77, 22, 22);
    font-style: italic;
    
}



/* profile main style */

.profiledata{

    padding: 25%;
    border:  burlywood 2px solid;
    border-radius: 10%;
    color: rgb(77, 22, 22);
    
    width: 90%;
    height: 90%;
    margin-left: 50%;
    

    
}

.profiledata div img {
    margin-left: 35%;
}


.profiledata a {


    text-decoration: none;
    color: rgb(77, 22, 22);
    background: burlywood;
    float: right;
    padding: 2%;
    margin-right: 10%;
    margin-bottom: 5%;

}



/* user cart main style */


.cartitems > * {

    display: inline-block;
    width: 50%;
    margin-left: 6%;
    border:  burlywood 2px solid;
    border-radius: 10%;
    color: rgb(77, 22, 22);
    margin-bottom: 5%;
    padding: 20%;
    
}

.cartitems h2,h4{
    padding: 3%;
}

.cartitems img {
    margin-top: 3%;
    margin-left: 15%; 
    width: 70%;
    height: 90%;  
}

.cartitems a {

    text-decoration: none;
    color: rgb(77, 22, 22);
    background: burlywood;
    float: right;
    padding: 2%;
    margin-right: 10%;
    margin-bottom: 5%;

}


/*edit profile main style */

.editpmain{
    display: block;
}

#editprofile {
    
    padding: 5%;
    border:  burlywood 2px solid;
    border-radius: 10%;
    color: rgb(77, 22, 22);
    margin-left: 25%;
    width: 40%;
    
}


#editprofile button {
    border: none;
    color: rgb(77, 22, 22);
    background: burlywood;
    float: right;
    padding: 2%;
    margin-right: 10%;
    cursor: pointer;

}
#editprofile button:hover{
    background: white;
}

.bt {
    text-align: center;
    color: rgb(77, 22, 22);
    font-style: italic;

}

#editprofile >* {

    color: rgb(77, 22, 22);

}







/*log in main style */

.bt a{

    text-decoration: none;
    color: rgb(131, 66, 20);
    
    

}


/*sign up main style */

